#macOS
.DS_Store
._*

#libs and objects
*.so
*.o

#cache & configs
cache/
xcb/
.xcb_config

#toolchain related
toolchain/bin
toolchain/usr
toolchain/arm-*
toolchain/build
toolchain/share
toolchain/libexec
#include+libs
toolchain/lib
toolchain/include/SDL
toolchain/include/SDL2
toolchain/include/lib
toolchain/include/include

#homebrew related
homebrew/*/repo
homebrew/*/repo.zip
homebrew/*/install.zip
homebrew/*/patches/*.patched
